<!DOCTYPE html>
<html>
	<head>
		<title>Eat-Da-Burger</title>
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/public/js/burgers.js"></script>
	</head>
	<body>
		<img id="burgerPic" src="/assets/img/cartton-burger_60352-2576.jpeg" alt="Burger Picture">
		{{{body}}}
	</body>
</html>