<!DOCTYPE html>
<html>
	<head>
		<title>Eat-Da-Burger</title>
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/burgers.js"></script>
	</head>
	<body>
		<div class="container">
		<img id="burgerPic" src="/assets/img/cartoon-burger.jpg" alt="Burger Picture">
		<br/>
		{{{body}}}
		</div>
	</body>
</html>